
	body{
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100%;
	background:	#fff;
    } 
    body a{
	font-family: 'Open Sans Condensed', sans-serif;
	transition: 0.5s all ease;
    }
    *{padding:0;
    margin:0;}
    body a:hover{
	text-decoration:none;
    }
    h4{font-family: "楷体";
    font-size:3em;}
    p{font-family: "微软雅黑";
    font-size:1.2em;}
    
    #nav{width: 100%;height: 120px;background: #EC8D24;}
			#nav_top{height: 90px;}
			#nav_bottom{background: url(../img/1112.jpg) no-repeat;background-size:cover;width: 100%;}
			.nav{float: right;width: 500px;height: 30px;margin-top: 30px;}
			.nav li{list-style-type: none;}
		 	 .nav ul li a{display: block; float: left;font-size: 21px;color: #FFFFFF;margin-left: 30px;text-decoration: none;}
		 	 .nav ul li a:hover{display: block; float: left;font-size: 21px;color: #000000;margin-left: 30px;}
		 	.logo{position: absolute;left: 200px;border-right: 4px solid #EC8D24;border-left: 4px solid #EC8D24;border-bottom: 4px solid #EC8D24;}

   #banner{
   	background: url(../img/1112.jpg) no-repeat ;
    background-size: cover;
    width: 100%;
    height: 640px;
    margin-top:-30px;
  }
  
  #welcome {
  	width:100%;
  	height:200px;
  padding: 4em 0 2em;
  text-align: center;
}
#welcome h4 {
  font-family: 'Enriqueta', serif;
  font-size: 2.5em;
  color: #000;
  padding-bottom: 8px;
}
#welcome p {
  font-size: 1.5em;
  color: #444;
  font-weight: 100;
   line-height: 1.8em;
}

#ia-container {
	/*width: 685px;*/
	 margin: 0 auto;
        width: 740px;
        height: 250px;
        border: 1px solid #ddd;
        background: url(../img/tu.PNG) 0 0 no-repeat;
        -webkit-animation: slide 8s linear infinite;
        -o-animation: slide 8s linear infinite;
        animation: slide 8s linear infinite;
        margin-left: 220px;
     
}


#big{position: relative;}
#container{
	width:600px;
	height:350px;
	margin-left:1000px;
    margin-top: -218px;
}
#container h4{
	font-family: "楷体";
  font-size: 2.5em;
  color: #000;
}
/*--offer-Part-starts-Here --*/
.include h4 {
  font-family: 'Enriqueta', serif;
  font-size: 2.5em;
  color: #000;
  text-align:center;
}
#offer{
	padding:0em 0px 5em 0px;
}
.offer-bottom{
	margin-top:1.5%;
	margin-left:300px;
	text-align:center;
	position: relative;
}
.offer-bottom img{
	width:100%;
}
.offer-bottom h4 {
	font-family: 'Enriqueta', serif;
	font-size: 1.5em;
	font-weight: 400;
	margin: 15px 0 0 0;
}
.offer-bottom h4 a{
	font-family: 'Enriqueta', serif;
	color: #EC8D24;
	text-decoration:none;
}
.offer-bottom p{
	font-size: 1em;
	margin-top: 2.5%;
	line-height: 1.8em;
	color: #000;
}
.o-btn{
	margin-top:6%;
}
.o-btn a{
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  padding: 5px 12px;
  background: #444;
}
.o-btn a:hover {
	background: #ff8800;
	color: #fff;
	transition: 0.5s all ease;
}
.offer-left{
height:400px;
float:left;
padding:0 20px;}
/*--offer-Part-end-Here--*/

/*--nature-Part-start-Here--*/	
#nature{
	background:url(../img/nature.jpg) no-repeat;
	height:270px;
	background-size:cover;
	margin-top:300px;
}
.nature-top {
  width: 50%;
  float: right;
  background: rgba(236, 141, 36, 0.69);
  height: 206px;
  padding-top: 4em;
  padding-left: 4em;
  margin-top:-20px;
}
.nature-top h3{
	font-family: 'Enriqueta', serif;
	color:#fff;
	font-size:2.1em;
	font-weight:400;
}
.nature-top p{
  font-size: 1em;
  margin-top: 2.5%;
  line-height: 1.8em;
  color: #fff;
  width: 75%;
}
/*--nature-Part-end-Here--*/

     @keyframes slide {
        0% {
            background-position: 0 0;
        }
        10%, 25% {
            background-position: -750px 0;
        }
        35%, 50% {
            background-position: -1150px 0;
        }
        75%,85%, 100% {
            background-position: 0 0;
        }
    }

/*--footer-Part-start-Here--*/
#footer_top{width: 100%;height: 200px;background: rgb(41,41,42);padding-top: 10px;}
			#footer_top_left{width: 200px;height: 200px;/*background: #FFFFFF;*/margin-left: 440px;float: left;}
			#footer_top_left h4{font-size: 25px;letter-spacing: 1em;height: 30px;width: 120px;display: block;margin-bottom: 15px;color: white;font-weight: 100;}
			#footer_top_left ul li a{font-size: 15px;line-height: 2em;text-decoration: none;color: #cccccc;}
			#footer_top_left ul{list-style: none;width: 150px;height: 150px;}
			
			
			#footer_top_right{width: 200px;height: 200px;/*background: #FFFFFF;*/float: left;margin-left: 540px;}
			#footer_top_right h4{font-size: 25px;height: 30px;width: 120px;display: block;margin-bottom: 15px;color: white;font-weight: 100;}
			#footer_top_right ul li a{font-size: 15px;line-height: 2.5em;text-decoration: none;color: #cccccc;}
			#footer_top_right ul{width: 150px;height: 150px;}
			
			#footer_top_right ul li:first-child{list-style-image: url(../img/smalllogo1.png);}
			#footer_top_right ul li:last-child{list-style-image: url(../img/smalllogo3.png) ;}
			.li2{list-style-image: url(../img/smalllogo2.png);}
			#copy{display: block;margin: 0 auto;width: 200px;height: 20px;padding-top: 30px;color: #444444;}
			#footer_bottom{width: 100%;height: 80px;background: #FF8800;}